
	<div class="centered">
	<h1> Welcome! </h1>
	<h3>Map Personal Routes - running, cycling, hiking - as you go with this mapping utility</h3>
	</div>
	<button id="startMapping" ng-click="startMapping()">Start Mapping</button>

	 