	<div class="errorcontainer"> <span class="error">{{ error }}<span></div>
	<label for="username">Username:</label>
	<input type="text" id="username" ng-model="username"  />
	
	<label for="email">Email Address:</label>
	<input type="text" id="email" ng-model="email" placeholder="you@email.com" />

	<label for="password">Password:</label>
	<input type="password" ng-model="password" id="password" />

	 <footer>
        <ul>
            <li><button id="register" ng-click="register()">Register</button></li>
            <li><button id="cancel" ng-click="cancel()">Cancel</button></li>
        </ul>
    </footer>
