	<div class="errorcontainer"> <span class="error">{{ error }}<span></div>
	<label for="email">Username:</label>
	<input type="text" id="email" ng-model="username" />

	<label for="password">Password:</label>
	<input type="password" ng-model="password" id="password" />

	 <footer>
        <ul>
            <li><button id="signin" ng-click="signin()">Sign In</button></li>
            <li><button id="cancel" ng-click="cancel()">Cancel</button></li>
        </ul>
    </footer>
