
	<div id="stats" class="hide">
		<h1 id="time" class="time">	
		0:00:00
		</h1>
		<span class="dst">mi</span><h1 id="coords" class="dst">0.000</h1>
	</div>
	<div style="clear:both;"></div>
		<div id="map"></div>

	 <footer>
        <ul>
            <li><button id="start" ng-click="start()">Start / Stop</button></li>
            <li><button id="stop" ng-click="reset()">Reset</button></li>
        </ul>
    </footer>