html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #f3f3f4;
}

html, body, button {
    font: 14px Helvetica, "Open Sans", sans-serif;
}

header {
    background: #ccc;
    color: #fff;
    height: 3em;
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 0.75em;
}


h1 {
    height: 100%;
    margin: 0 auto;
    padding-top:0.3em;
}

h1 a{

	text-decoration: none;
	color: #fff;

}

#install {
    float:right;
    padding-right:0.6em;
}

label {
    font-size: 1.5em;
    padding: 1em 0;
}
input[type='text'], input[type='password'] {
        background-image: none;
    padding: 0.4em;
    margin: 0 auto;
        line-height: 1.4;
    font-size: 1.2em;
    display: block;
    width: 95%;
    outline: 0 none;
}

#stats {
	background: #ccc;
}
#stats .time {
	float:left;
	height:100%;
}

#stats .dst {
	float:right;
	height:100%;
}

.hide {
	display: none;
}
.show {
	display:block;
}

footer {
    background: -moz-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#6a7b86),color-stop(100%,#424f5a));
    background: -webkit-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: -o-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: -ms-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    color: #fff;
    position: fixed;
    width: 100%;
    height: 3em;
    bottom: 0;
}

footer ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height:100%;
}

footer li {
    float: left;
    border-right: 1px solid #445;
    width: 49%;
    height: 100%;
    list-style: none;
    margin: 0;
    text-align: center;
}

footer li button {
    display: inline-block;
    background: transparent;
    border: none;
    height: 100%;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

button {
    background: -moz-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#6a7b86),color-stop(100%,#424f5a));
    background: -webkit-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: -o-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: -ms-linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    background: linear-gradient(top,#6a7b86 0%,#424f5a 100%);
    border: none;
    height: 2.5em;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

#startMapping {
    width: 100%;
    position: fixed;
    bottom:0;
}

.centered {
    width:100%;
    margin: 0 auto;
    text-align: center
}
#map {
	height:100%;
	
	width:100%;

	margin-bottom:3em;
	min-height:480px;
	min-width: 320px;
}

.error {
    font-size: 1.2em;
    color: red;
    text-align: center;
    
}